@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-width {
    @apply max-w-[1380px] mx-auto px-3;
  }
  .container {
    @apply max-w-[1200px] mx-auto px-3;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: "Outfit", sans-serif;
  background-color: #000;
  @apply text-primary;
}

@layer components {
  .language {
    @apply flex justify-start gap-2 items-center text-[10px] w-[94px] leading-none text-primary hover:text-white bg-white border border-gray-300  rounded-none  hover:bg-primary mb-1 last:mb-0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Heading1 {
  @apply text-4xl md:text-5xl font-bold leading-tight;
}

.Heading2 {
  @apply text-xl md:text-2xl xl:text-[30px] 3xl:text-[35px] font-semibold leading-snug pb-3;
}

.Heading3 {
  @apply text-2xl md:text-3xl font-semibold leading-snug;
}

.text {
  @apply text-base md:text-lg leading-relaxed;
}

.inner-shadow-card {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.react-multi-carousel-dot--active button {
  border-color: #ea0a0a;
  background: #ea0a0a;
}


 

 
